---
import Layout from "../layouts/Layout.astro"
---
<Layout title={"home."}>
<main>
    <div class="image-div">
        <img src="/blogme/images/miyaread.png" width="250px"/>
    </div>
    <p class="kanji">
    <span id="kanji-reading">...</span>
    </p>
    <p class="kanji-desc">
    -- -- --
    </p>
</main>
</Layout>

<script>
    let response = await fetch("https://kanjiapi.dev/v1/kanji/all")
    const kanjiList = await response.json();
    const currentKanji = kanjiList[Math.floor(Math.random() * (kanjiList.length))];
    response = await fetch(`https://kanjiapi.dev/v1/kanji/${currentKanji}`)
    const currentKanjiInfo = await response.json()

    const kanjiReadingElement = document.createElement("span")
    const kanjiElement = document.querySelector(".kanji")
    const kanjiDescElement = document.querySelector(".kanji-desc")
    kanjiReadingElement.setAttribute("id", "kanji-reading")
    
    console.log(currentKanjiInfo)
    
    kanjiElement.textContent = ""
    kanjiElement.appendChild(document.createTextNode(`${currentKanjiInfo["kanji"]}`))
    kanjiElement.appendChild(kanjiReadingElement);
    kanjiReadingElement.appendChild(document.createTextNode(` (${currentKanjiInfo["kun_readings"][0]} )`))
    kanjiDescElement.textContent = ""
    kanjiDescElement.appendChild(document.createTextNode(`${currentKanjiInfo["meanings"].slice(1)}`))
</script>

<style>
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .kanji {
        font-size: 2.5rem;
    }

    #kanji-reading {
        color: red;
    }

    .kanji-desc {
        font-size: 1.2rem;
        width: 50%;
        text-align: center;
    }

    #kanji-reading {
        font-size: 2rem;
    }

    /* media queries*/
    @media (min-width: 320px) {

        img {
            width: 200px;
        }

        .kanji {
            font-size: 2rem;
        }

        main {
            padding: 1rem;
        }
    }

    @media (min-width: 768px) {
        img {
            width: 250px;
        }

        .kanji {
            font-size: 2.5rem;
        }
    }

    @media (min-width: 1024px) {
    }
</style>
