---
import Layout from "../layouts/Layout.astro"
---
<Layout title={"me."}>
<main>
    <div class="image-div">
        <img src="/blogme/images/miyacool.png" width="200px"/>
    </div>
    <p>me.</p>
    <p>I write <span>js.</span> <span>react.</span> <span>java :(</span></p>
    <p>some <span>python.</span> </p>
    <p>currently into <span>rust.</span> && <span>astro.</span></p>
    <p>wanna learn <span>blender.</span></p>
    <p>-- &lt3 --</p>
</main>
</Layout>
<style>
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

</style>
